# ---
# BasedOnStyle: LLVM
# IndentWidth: 4
# ---
# Language: Cpp
# DerivePointerAlignment: false
# PointerAlignment: Left
# BreakTemplateDeclarations: Yes
# IndentAccessModifiers: false
# ---
---
BasedOnStyle: WebKit
---
Language: Cpp
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BinPackParameters: true
BreakBeforeBraces: Attach
---
